body{
    background-color: yellow;
    width: 1340px;
    height: 520px;
}

.bienvenida {
    
    position: relative;
    width: 93px;
    height: 54 px;
    left: 20px;
    right: 15px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
}



    
.ser {
    
    position: absolute;
    width: 50px;
    height: 40px;
    left: 180px;
    right: 180px;
    padding: px;
    margin:-60px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.sup{
    position: absolute;
    width: 50px;
    height: 40px;
    left: 280px;
    right: 180px;
    padding: px;
    margin:-60px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.cajacentro {
    position: relative;
    left: 400px;
    right: 500px;
    position: relative;
    background: rgba(92, 92, 92, 0.3);
    position: absolute;
    width: 570px;
    height: 440px;
    border-radius: 45px;
}

.infocentro {
    position: relative;
    left: 500px;
    right: -200px;
    width: 570px;
    height: 440px;
    
}
